
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,600,700,900&amp;lang=en');

/* general */

* {
    font-family: 'Ubuntu' !important;
}

html,body {
  background-color: #03050f !important;
}

/* Links */

.navlink {
    text-decoration: none;
    color:white;
    width: 100%;
}

/* Avatar Border */

.MuiAvatar-root {
    border: 1px solid #121212 !important;
}

/* Scrollbar Hide */

.hidescrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hidescrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Code Highlight */

.hljs {
    color: #ddd;
    
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-section,
  .hljs-link {
    color: white;
  }
  
  
  .hljs-subst {
    /* default */
  }
  
  .hljs-string,
  .hljs-title,
  .hljs-name,
  .hljs-type,
  .hljs-attribute,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-built_in,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-tag,
  .hljs-template-variable {
    color: #d88;
  }
  
  .hljs-comment,
  .hljs-quote,
  .hljs-deletion,
  .hljs-meta {
    color: #979797;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-title,
  .hljs-section,
  .hljs-doctag,
  .hljs-type,
  .hljs-name,
  .hljs-strong {
    font-weight: bold;
    color: rgb(45, 112, 255);
  }
  
  .hljs-emphasis {
    font-style: italic;
  }


  /* Other */